BODY .fct_page_links_with_text .pod {
    float:left;
}
BODY .mfp-arrow,
BODY .mfp-preloader,
BODY .slick-arrow {
    display: none !important;
}

@media only screen and (max-width: 600px) {
    #metaslider_5299 {
        min-height: 120px;
    }
}
