IMG {
  #work & {
    width: 100%;
    height: auto;    
  }
  .feature-image & {
    width: 100%;
    height: auto; 
    margin-bottom:0px;
  }
}

.wp-caption {
  &.alignleft {
    float:left;
    margin:0 20px 20px 0;
  } 
}