/**
*
* Typography Mixin
* ==============================================================================
*
* Dependencies: Bourbon
*/
@mixin typography($element, $size, $lineheight, $spacing){

    $mobile_size  : $size - 4; 
    $tablet_size  : $size - 3;
    $laptop_size  : $size - 2;
    $desktop_size : $size; 

    @if $element == "h1" {

        $mobile_spacing  : $spacing + 2.4;
        $tablet_spacing  : $spacing + 1.6;
        $laptop_spacing  : $spacing + 0.8;
        $desktop_spacing : $spacing;  

        @media #{$media-mobile} { 
            font-size:golden-ratio($mobile_size,3);
            letter-spacing: $mobile_spacing;            
        }
        @media #{$media-tablet} { 
            font-size:golden-ratio($tablet_size,3);
            letter-spacing: $tablet_spacing;
        }
        @media #{$media-laptop} { 
            font-size:golden-ratio($laptop_size,3);
            letter-spacing: $laptop_spacing;
        }  
        @media #{$media-desktop} { 
            font-size:golden-ratio($desktop_size,3);
            letter-spacing: $desktop_spacing;
        } 

    }
    @if $element == "h2" {

        $mobile_spacing  : $spacing + 2.4;
        $tablet_spacing  : $spacing + 1.6;
        $laptop_spacing  : $spacing + 0.8;
        $desktop_spacing : $spacing; 

        @media #{$media-mobile} { 
            font-size:golden-ratio($default_size,2);
            letter-spacing: $mobile_spacing;
        }
        @media #{$media-tablet} { 
            font-size:golden-ratio($tablet_size,2);
            letter-spacing: $tablet_spacing;
        }
        @media #{$media-laptop} { 
            font-size:golden-ratio($laptop_size,2);
            letter-spacing: $laptop_spacing;
        }  
        @media #{$media-desktop} { 
            font-size:golden-ratio($desktop_size,2);
            letter-spacing: $desktop_spacing;
        } 

    }
    @if $element == "h3" {

        $mobile_spacing  : $spacing + 2.0;
        $tablet_spacing  : $spacing + 1.2;
        $laptop_spacing  : $spacing + 0.4;
        $desktop_spacing : $spacing; 

        @media #{$media-mobile} { 
            font-size:golden-ratio($mobile_size,1);
            letter-spacing: $mobile_spacing;
        }
        @media #{$media-tablet} { 
            font-size:golden-ratio($tablet_size,1);
            letter-spacing: $tablet_spacing;
        }
        @media #{$media-laptop} { 
            font-size:golden-ratio($laptop_size,1);
            letter-spacing: $laptop_spacing;
        }  
        @media #{$media-desktop} { 
            font-size:golden-ratio($desktop_size,1);
            letter-spacing: $desktop_spacing;
        } 

    } 
    @if $element == "p" {

        @media #{$media-mobile} { 
            font-size:golden-ratio($tablet_size,0);
        }
        @media #{$media-tablet} { 
            font-size:golden-ratio($tablet_size,0);
        }
        @media #{$media-laptop} { 
            font-size:golden-ratio($laptop_size,0);
        }  
        @media #{$media-desktop} { 
            font-size:golden-ratio($desktop_size,0);
        } 

    } 

    @if $element == "button" {

        $mobile_spacing  : $spacing + 2.0;
        $tablet_spacing  : $spacing + 1.2;
        $laptop_spacing  : $spacing + 0.4;
        $desktop_spacing : $spacing; 

        @media #{$media-mobile} { 
            font-size:golden-ratio($mobile_size,1);
            letter-spacing: $mobile_spacing;
        }
        @media #{$media-tablet} { 
            font-size:golden-ratio($tablet_size,1);
            letter-spacing: $tablet_spacing;
        }
        @media #{$media-laptop} { 
            font-size:golden-ratio($laptop_size,1);
            letter-spacing: $laptop_spacing;
        }  
        @media #{$media-desktop} { 
            font-size:golden-ratio($desktop_size,1);
            letter-spacing: $desktop_spacing;
        } 

    } 

}