// Media Queries
$media-tablet: "only screen and (max-width : 1200px) and (min-width : 768px)";
$media-mobile: "only screen and (max-width : 767px)";

// Colours
$black: #000000;
$grey: lighten($black, 50%);
$white: #FFFFFF;

// Transitions
$default-transition-property : all;
$default-transition-duration : 0.5s;
$default-transition-function : false;
$default-transition-delay    : false;
