@font-face {
    font-family: 'RobotoThin';
    src: url('../fonts/roboto-thin.eot');
    src: url('../fonts/roboto-thin.eot') format('embedded-opentype'),
         url('../fonts/roboto-thin.woff') format('woff'),
         url('../fonts/roboto-thin.ttf') format('truetype'),
         url('../fonts/roboto-thin.svg#RobotoThin') format('svg');
}
@font-face {
    font-family: 'RobotoSlabRegular';
    src: url('../fonts/Roboto_Slab/robotoslab-regular.eot');
    src: url('../fonts/Roboto_Slab/robotoslab-regular.eot') format('embedded-opentype'),
         url('../fonts/Roboto_Slab/robotoslab-regular.woff') format('woff'),
         url('../fonts/Roboto_Slab/robotoslab-regular.ttf') format('truetype'),
         url('../fonts/Roboto_Slab/robotoslab-regular.svg#RobotoSlabRegular') format('svg');
}
@font-face {
    font-family: 'RobotoSlabLight';
    src: url('../fonts/Roboto_Slab/robotoslab-light.eot');
    src: url('../fonts/Roboto_Slab/robotoslab-light.eot') format('embedded-opentype'),
         url('../fonts/Roboto_Slab/robotoslab-light.woff') format('woff'),
         url('../fonts/Roboto_Slab/robotoslab-light.ttf') format('truetype'),
         url('../fonts/Roboto_Slab/robotoslab-light.svg#RobotoSlabLight') format('svg');
}

