/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$logo-circle-name: 'logo-circle';
$logo-circle-x: 800px;
$logo-circle-y: 390px;
$logo-circle-offset-x: -800px;
$logo-circle-offset-y: -390px;
$logo-circle-width: 78px;
$logo-circle-height: 97px;
$logo-circle-total-width: 1100px;
$logo-circle-total-height: 897px;
$logo-circle-image: '../images/spritesheet.png';
$logo-circle: (800px, 390px, -800px, -390px, 78px, 97px, 1100px, 897px, '../images/spritesheet.png', 'logo-circle', );
$logo-large-name: 'logo-large';
$logo-large-x: 0px;
$logo-large-y: 0px;
$logo-large-offset-x: 0px;
$logo-large-offset-y: 0px;
$logo-large-width: 800px;
$logo-large-height: 800px;
$logo-large-total-width: 1100px;
$logo-large-total-height: 897px;
$logo-large-image: '../images/spritesheet.png';
$logo-large: (0px, 0px, 0px, 0px, 800px, 800px, 1100px, 897px, '../images/spritesheet.png', 'logo-large', );
$logo-text-name: 'logo-text';
$logo-text-x: 431px;
$logo-text-y: 800px;
$logo-text-offset-x: -431px;
$logo-text-offset-y: -800px;
$logo-text-width: 310px;
$logo-text-height: 44px;
$logo-text-total-width: 1100px;
$logo-text-total-height: 897px;
$logo-text-image: '../images/spritesheet.png';
$logo-text: (431px, 800px, -431px, -800px, 310px, 44px, 1100px, 897px, '../images/spritesheet.png', 'logo-text', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 800px;
$logo-offset-x: 0px;
$logo-offset-y: -800px;
$logo-width: 431px;
$logo-height: 97px;
$logo-total-width: 1100px;
$logo-total-height: 897px;
$logo-image: '../images/spritesheet.png';
$logo: (0px, 800px, 0px, -800px, 431px, 97px, 1100px, 897px, '../images/spritesheet.png', 'logo', );
$spacer-name: 'spacer';
$spacer-x: 800px;
$spacer-y: 0px;
$spacer-offset-x: -800px;
$spacer-offset-y: 0px;
$spacer-width: 300px;
$spacer-height: 390px;
$spacer-total-width: 1100px;
$spacer-total-height: 897px;
$spacer-image: '../images/spritesheet.png';
$spacer: (800px, 0px, -800px, 0px, 300px, 390px, 1100px, 897px, '../images/spritesheet.png', 'spacer', );
$texture-1-name: 'texture-1';
$texture-1-x: 888px;
$texture-1-y: 390px;
$texture-1-offset-x: -888px;
$texture-1-offset-y: -390px;
$texture-1-width: 4px;
$texture-1-height: 4px;
$texture-1-total-width: 1100px;
$texture-1-total-height: 897px;
$texture-1-image: '../images/spritesheet.png';
$texture-1: (888px, 390px, -888px, -390px, 4px, 4px, 1100px, 897px, '../images/spritesheet.png', 'texture-1', );
$texture-2-name: 'texture-2';
$texture-2-x: 892px;
$texture-2-y: 390px;
$texture-2-offset-x: -892px;
$texture-2-offset-y: -390px;
$texture-2-width: 4px;
$texture-2-height: 4px;
$texture-2-total-width: 1100px;
$texture-2-total-height: 897px;
$texture-2-image: '../images/spritesheet.png';
$texture-2: (892px, 390px, -892px, -390px, 4px, 4px, 1100px, 897px, '../images/spritesheet.png', 'texture-2', );
$texture-3-name: 'texture-3';
$texture-3-x: 878px;
$texture-3-y: 390px;
$texture-3-offset-x: -878px;
$texture-3-offset-y: -390px;
$texture-3-width: 5px;
$texture-3-height: 5px;
$texture-3-total-width: 1100px;
$texture-3-total-height: 897px;
$texture-3-image: '../images/spritesheet.png';
$texture-3: (878px, 390px, -878px, -390px, 5px, 5px, 1100px, 897px, '../images/spritesheet.png', 'texture-3', );
$texture-4-name: 'texture-4';
$texture-4-x: 883px;
$texture-4-y: 390px;
$texture-4-offset-x: -883px;
$texture-4-offset-y: -390px;
$texture-4-width: 5px;
$texture-4-height: 5px;
$texture-4-total-width: 1100px;
$texture-4-total-height: 897px;
$texture-4-image: '../images/spritesheet.png';
$texture-4: (883px, 390px, -883px, -390px, 5px, 5px, 1100px, 897px, '../images/spritesheet.png', 'texture-4', );
$spritesheet-width: 1100px;
$spritesheet-height: 897px;
$spritesheet-image: '../images/spritesheet.png';
$spritesheet-sprites: ($logo-circle, $logo-large, $logo-text, $logo, $spacer, $texture-1, $texture-2, $texture-3, $texture-4, );
$spritesheet: (1100px, 897px, '../images/spritesheet.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
