.fct_split_text_text {
  .left {
    @include span(12);
    @include breakpoint($tablet-portrait) {
      @include span(6 of 12);
      padding : 0;
    }
  }
  .right {
    @include span(12);
    @include breakpoint($tablet-portrait) {
      @include span(6 of 12 last);
    }
  }
  h3 {
    margin-bottom : 30px;
  }
  ul {
    margin-left : 15px;
  }
  li {
    font-weight   : bold;
    line-height   : 1.25;
    padding-left  : 15px;
    position      : relative;
    margin-bottom : 20px;
    &:before {
      @extend .fa;
      @extend .fa-check-square-o;
      margin-right : 5px;
      color        : white;
      font-size    : 25px !important;
      position     : absolute;
      left         : -15px;
      top          : 50%;
      margin-top   : -11px;
    }
  }
}