.work-item {
  @include span(12);
  @include breakpoint(1000px) {
    @include gallery(6 inside no-gutter);
  }
  @include breakpoint(1280px) {
    @include gallery(4 inside no-gutter);
  }
  padding         : 0px;
  margin          : 0px;
  position        : relative;
  background-size : cover;
  border-bottom   : 0px solid #FFFFFF;

  BUTTON {
    margin     : 0;
    width      : 100%;
    background : #851213;
  }

  &:nth-child(4n) {
    //background : #B51B1C;
    background : #494949;
  }
  &:nth-child(4n+1) {
    //background : #6F1011;
    background : #616161;
  }
  &:nth-child(4n+2) {
    background : #8C8C8C;
  }
  &:nth-child(4n+3) {
    background : #494949;
  }
  &:nth-child(2n) .overlay {
    //background-colour : rgba(40, 2, 2, 0.7);
    //background       : #616161;
    background-image : url(../images/texture-3.png);
  }
  &:nth-child(2n-1) .overlay {
    background-colour : rgba(40, 2, 2, 0.7);
    //background       : #616161;
    background-image  : url(../images/texture-3.png);
  }

  &:hover .overlay {
    opacity : 0;
  }
  &:hover .text {
    position : absolute;
    bottom   : 15px;
    width    : 90%;
    padding  : 25px;
  }
}
.overlay {
  opacity  : 1;
  cursor   : pointer;
  position : absolute;
  z-index  : 5;
  top      : 0px;
  left     : 0px;
  width    : 100%;
  height   : 100%;
}
.work-image {
  @include span(50% inside no-gutter);
  background-size : cover;
  img {
    visibility : hidden;
  }
}
.work-title {
  @include span(50% inside no-gutter);
  position            : relative;
  padding             : 0px;
  background-size     : cover;
  background-image    : url(../images/logo-large.png);
  background-position : center center;
  background-repeat   : no-repeat;
  background-size     : 150%;

  .text {
    position   : absolute;
    z-index    : 6;
    bottom     : 15px;
    left       : 0px;
    width      : 90%;
    padding    : 25px;
    background : #000000;
    background : rgba(0, 0, 0, 0.9);
    h2, h3 {
      @extend h3;
      color : white;
    }
  }
}
.fct_work_examples {
  padding : 0;
}