/* line 93, ../_/sass/unsemantic/partials/_reset.scss */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

/* line 101, ../_/sass/unsemantic/partials/_reset.scss */
html,
body {
  height: 100%;
}

/* line 116, ../_/sass/unsemantic/partials/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* line 126, ../_/sass/unsemantic/partials/_reset.scss */
b,
strong {
  font-weight: bold;
}

/* line 133, ../_/sass/unsemantic/partials/_reset.scss */
img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

/* line 143, ../_/sass/unsemantic/partials/_reset.scss */
ul,
ol {
  list-style: none;
}

/* line 147, ../_/sass/unsemantic/partials/_reset.scss */
li {
  display: list-item;
}

/* line 155, ../_/sass/unsemantic/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 162, ../_/sass/unsemantic/partials/_reset.scss */
th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

/* line 168, ../_/sass/unsemantic/partials/_reset.scss */
q {
  quotes: none;
}

/* line 173, ../_/sass/unsemantic/partials/_reset.scss */
q:before,
q:after {
  content: "";
  content: none;
}

/* line 180, ../_/sass/unsemantic/partials/_reset.scss */
sub,
sup,
small {
  font-size: 75%;
}

/* line 185, ../_/sass/unsemantic/partials/_reset.scss */
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 191, ../_/sass/unsemantic/partials/_reset.scss */
sub {
  bottom: -0.25em;
}

/* line 195, ../_/sass/unsemantic/partials/_reset.scss */
sup {
  top: -0.5em;
}

/* line 199, ../_/sass/unsemantic/partials/_reset.scss */
svg {
  overflow: hidden;
}

/* line 9, ../_/sass/unsemantic/partials/_text.scss */
body {
  font: 13px / 1.5 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
}

/* line 14, ../_/sass/unsemantic/partials/_text.scss */
pre,
code {
  font-family: "DejaVu Sans Mono", Monaco, Consolas, monospace;
}

/* line 18, ../_/sass/unsemantic/partials/_text.scss */
hr {
  border: 0 #ccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0;
}

/* line 28, ../_/sass/unsemantic/partials/_text.scss */
h1 {
  font-size: 25px;
}

/* line 32, ../_/sass/unsemantic/partials/_text.scss */
h2 {
  font-size: 23px;
}

/* line 36, ../_/sass/unsemantic/partials/_text.scss */
h3 {
  font-size: 21px;
}

/* line 40, ../_/sass/unsemantic/partials/_text.scss */
h4 {
  font-size: 19px;
}

/* line 44, ../_/sass/unsemantic/partials/_text.scss */
h5 {
  font-size: 17px;
}

/* line 48, ../_/sass/unsemantic/partials/_text.scss */
h6 {
  font-size: 15px;
}

/* line 55, ../_/sass/unsemantic/partials/_text.scss */
ol {
  list-style: decimal;
}

/* line 59, ../_/sass/unsemantic/partials/_text.scss */
ul {
  list-style: disc;
}

/* line 63, ../_/sass/unsemantic/partials/_text.scss */
li {
  margin-left: 30px;
}

/* line 82, ../_/sass/unsemantic/partials/_text.scss */
p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 20px;
}

/* line 4, ../_/sass/unsemantic/partials/_demo.scss */
body {
  background: white;
  color: #333;
  text-align: center;
}

/* line 10, ../_/sass/unsemantic/partials/_demo.scss */
a {
  color: blue;
  text-decoration: none;
}
/* line 14, ../_/sass/unsemantic/partials/_demo.scss */
a:hover {
  text-decoration: underline;
}

/* line 19, ../_/sass/unsemantic/partials/_demo.scss */
h1 {
  padding-top: 20px;
}

/* line 23, ../_/sass/unsemantic/partials/_demo.scss */
.example-block {
  background: #eee;
  font-size: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 10px 0;
  text-align: center;
}

/* line 35, ../_/sass/unsemantic/partials/_demo.scss */
.grid-container {
  padding-bottom: 20px;
}

/* line 39, ../_/sass/unsemantic/partials/_demo.scss */
.grid-container > hr {
  margin-left: 10px;
  margin-right: 10px;
}

/* line 47, ../_/sass/unsemantic/partials/_demo.scss */
div[class*="push-"] section {
  background: #dec;
}

/* line 51, ../_/sass/unsemantic/partials/_demo.scss */
div[class*="pull-"] section {
  background: #fcd;
}

/* line 58, ../_/sass/unsemantic/partials/_demo.scss */
.dynamic-px-width {
  display: block;
}
